.DS_Store
.idea
.ipynb_checkpoints/
.vscode
__pycache__/
*.pyc
*.pyo
*.pyd
*.bin
*.pkl
*.pt
*.pyc
input.txt
env/
.venv/
.aai_env/
site/
PP3: CLIP/data/cifar*
!PP5: Pretraining GPT2/data/french_philosophy/*.bin
PP5: Pretraining GPT2/model_solution.py
PP5: Pretraining GPT2/train_solution.py